* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

 .container h1{
  margin: auto;
  color: white;
  position: relative;
  
  

}
body {
  height: 100vh;
  background: linear-gradient(#01e26e, #72ffb4);
}
.container {
  margin: auto;
  background-color: brown;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80vw;
  text-align: center;
 
  max-width: 600px;
  min-width: 350px;
  padding: 60px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
label {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
}
input {
  margin-bottom: 20px;
  border: 1px solid black;
  font-size: 20px;
  border-bottom: 2px solid #585858;
  color: #585858;
  padding: 2px 15px;
  border-radius: 5%
  ;
}
input:focus {
  outline: none;
  border-bottom: 2.4px solid #01e26e;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.input-wrapper input {
  width: 100%;
}
.time-wrapper input {
  width: 60%;
}
select {
  width: 35%;
  border: 1px solid #585858;
  font-size: 20px;
  margin-left: 3%;
  padding: 8px 0;
  border-radius: 5px;
}
button {
  display: block;
  background-color: #01e26e;
  border: none;
  color: #ffffff;
  margin: 20px auto 0 auto;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 5px;
}
#result {
  background-color: #c6ffe2;
  margin-top: 30px;
  color: #585858;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
}
#result div {
  margin-bottom: 10px;
}
#result span {
  color: black;
  font-weight: 500;
}


/* uploading on git  */
    

kashif{
  background-color: #ffffff;
  width: 90vmin;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: #01e26e;
}
input[type="range"]{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 112%;
  height: 12px;
  background-color: #01e26e;
  border-radius: 8px;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 8px;
   background-color: #01e26e;
}
input[type="range"]::-moz-track{
  -moz-appearance: none;
  height: 8px;
  background-color: #01e26e;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 8px;
  background-color: #01e26e;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color:#01e26e;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #01e26e;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  height: 20px;
  width: 20px;
  background-color:#01e26e;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffffff;
  border: 3px solid #01e26e;
}
#slider-value{
  width: 40%;
  position: relative;
  background-color:#01e26e;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto Mono",monospace;
  padding: 10px 0;
  border-radius: 5px;
}
.copy{
  position: relative;
  left: 35%;
}
